doctype html
html(lang="en")
  head
    title Landing Page
  body
  h1 The future home of something magical!
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet eleifend sem. Aenean lectus erat, semper vitae sapien at, pharetra malesuada nisl. Donec lacinia, neque ut pulvinar facilisis, metus turpis molestie massa, nec finibus odio arcu vel mauris. In elit leo, faucibus vitae elit vel, mollis venenatis enim. In felis quam, ultrices vitae leo vitae, eleifend aliquet massa. Vestibulum est elit, tempus at accumsan sit amet, venenatis sit amet velit. Phasellus malesuada elit sed pellentesque consectetur.
  